<div class="well about_container">
	<h1 class="about_title">About Contigo</h1>
	<p class="about_us">ConTigo was born from the powerful combination of an empty wallet and love of convenience, and is the brain child and full stack Rails application built by Navya Lakkaraju, Derek Nuzum, Cassandra Aguiar, and Jonathan Stevenson. We named our product after the spanish word 'with me' which we think perfectly embodies our principles: community and openness. Join us! Save money, make connections, get where you need to go. What could be better?</p>
</div>

<div class="dev_container">
	<h1 class="dev_title">Meet the Developers</h1>
	<ul>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Cassie</h2>
			<p class="developer_image1"></p>
			<span>Full time rock star, part time cookie enthusiast. Served as the front end wizard.</span>
			</p>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Navya</h2>
			<p class="developer_image2"></p>
			<span>Born and raised in New Jersey, and is still suffering the consequences. Worked on the database and backend things.</span>
			</p>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Derek</h2>
			<p class="developer_image3"></p>
			<span>Seattle native, family man, sports fan. Served as Project Manager, and worked on the back end.</span>
		</li>
		<li class="dev col-lg-3 col-md-6 col-sm-10">
			<h2 class="dev_name">Jonathan</h2>
			<p class="developer_image4"></p>
			<span>Also a seattle native. Can be found drinking coffee. Served as the full stack wizard.</span>
		</li>
	</ul>
</div>
