/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

/*
Project Name: Group badass
Client: Your Client
Author: Tits McGee
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/


#test {
  height: 500px;
}
/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.hide {
  display: none;
}




/******************************************
/* BASE STYLES
/*******************************************/



$navbar-default-bg: #002244;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$font-family-sans-serif: Lobster;

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
	background-color: #d5d5d5;
	width: 100%;	
}

#container{
	font-family: 'Montserrat', sans-serif;
	background-image: asset-url("city_pic.png");
	background-position-x: center;
	background-size: center;
	background-repeat: no-repeat;
	height: 640px;
	width: 100%;
	margin: 50px auto;
}

.search_form{
	width: 85%;
	margin: 0 auto;
}

.search_container{
	margin: 250px auto;
	text-align: center;
	margin-bottom: 20px;
}

.well{
	background-color: #96858f;
}

.search_box{
	width: 80%;
	margin: 2% auto;
	border-radius: 5%;
}

.search_box h5{
	text-align: center;
}

.mission_statement{
	color: rgba(255,255,255,.8);
	width: 95%;
	font-size: 2.5em;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
}

.navbar{
	position: fixed !important;
	z-index: 99;
	top: 0;
}

.mission_container{
	margin-top: 2%;
}

.small_logo{
	margin-top: 0;
}

.navbar-brand{
	padding: 0 !important;
}

.small_title{
	margin-left: 5%;
}

.ride_btn{
	margin-bottom: 5%;
	text-align: center;
}

a img{
	height: 50px;
}

.uber_btn{
	margin-left: 2%;
}

.arrow{
	margin-top: 0;
	margin-right: 0;
	padding: 0;
	font-size: 4em;
}

.about_container{
	margin-top: 50px;
	height: 640px;
}

.about_title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.dev_container{
	margin-top: 50px;
}

.dev_title{
	margin-top: 0;
	z-index: 99;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #000;
	text-align: center;
}

.dev{
	display: inline-block;

}
.developer_image1{
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: asset-url("cassie.png");
	background-size: 179% 120%;
	background-position: center;
}

.developer_image2{
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: asset-url("navya.png");
	background-size: contain;
}

.developer_image3{
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: asset-url("derek.png");
	background-size: cover;
	background-position: center;
}

.developer_image4{
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
	border-radius: 100%;
	background-image: asset-url("jonathan.png");
	background-size: 179% 120%;
	background-position: center;
}

.about_us{
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
	width: 90%;
	margin: 0 auto;
}


.fbLogin{
text-align: center;
}


.logo{
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}

.logo img{
	margin-top: 2%;
}

.profile_image{
	text-align: center;
}


.profile_image img{
	width: 270px;
	height: 150px;
	margin-top: 35px;
	border: 1px solid rgba(255,255,255,.8);
	border-radius: 5%;
}

.profile_bottom{
	margin: 5% auto;
	width: 100%;
	text-align: center;
}

.profile_description{
	color: #fff;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 0 !important;
  	font-size: 1.5em;
}

.description_container{
	background-color: rgba(0,0,0,.5);
}

.profile_container{
	max-width: 900px;
	margin: 50px auto;
}

.description_btn{
	border: 1px solid #fff !important;
	margin: 0 auto;
}

.favorite_btn{
	border: 1px solid #fff !important;
}

.favs{
	float: none !important;
	margin: 125px auto;
  	font-size: 1.5em;
	width: 100%;
	color: #fff;
	font-weight: bold;
}

.list_favs{
	margin-left: 0;
}

.favs ul{
	list-style-type: none;
	margin-left: 0 !important;
}

.favs ul li{
	text-align: center !important;
}

.favs_title{
	font-family: 'Voltaire', sans-serif;
}

.favs_title li{
	font-size: 2em;
}

/*Modal on search page*/
.modal-body {
  	width: 100%,
}

.modal-body .control-label {
  	text-align: left;
}

.nav-links{
	color: #96858f !important;
}

.nav-links:hover{
	font-size: 1.5em;
	margin-top: 1%;
}

.search-title{
	text-algin: center;
	margin: 0 auto;
	color: #fff !important;
}

.search{
	color: #fff;
	text-decoration: underline;
	text-align: center;
}

.map_container{
	height: 190px;
	color: #fff;
	float: none !important;
	margin: 75px auto;
	margin-left: 0;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.5);
}

.ride_share{
	float: none !important;
	text-align: center;
	margin: 20px auto;
	color: #fff;

}

.destination_list{
	float: none !important;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.destination_list ul li{
	list-style-type: none;
}


.destination_list ul{
	margin-left: -40px !important;
}

.get_ride{
	color: rgba(255,255,255,.8);
	font-weight: bold;
	width: 90%;
	margin: 0 auto;
}


#map{
	width: 350px;
	height: 350px;
	margin-left: 0;
	margin: 0 auto;
	margin-top: 5%;
}

footer{
	position: fixed;
	bottom: 0;
	right: 0;
	margin-top: 0;
	text-decoration: underline;
	font-weight: bold;
	background-color: #9099A2;
}

footer h4{
	margin-top: 0;
}

.well{
	background-color: rgba(96, 121, 147,.8)!important;
	border: none !important;
	margin-bottom: 0 !important;
}

.search_btn{
	margin-top:5%;
}

.search{
	color: #fff;
	margin-top: 5%;
}

.searchContainer{
	margin-top: 50px;
}


@media screen and (min-width: 500px) and (max-width: 799px) {


.dev_container{
	margin-top: 0;
}

.map_container{
	float: none !important;
	margin: 75px auto;
	height: 450px;
}

.profile_description{
	margin-bottom: 0 !important;
}


.destination_list{
	font-size: 1.2em;
}

.favs{
	margin: 200px auto;
}

}

@media screen and (min-width: 800px) and (max-width: 1000px) {

.profile_image img{
	margin-top: 11%;
}

#map{
	width: 400px;
	height: 400px;
}

.favs{
	margin: 0px auto;
}

.search_container{
	margin: 200px auto;
	margin-bottom: 5%;
}

.destination_list{
	font-size: 1.3em;
}

}
/*may not need buy implementing anyway for SUPER RESPONSIVE!*/

@media screen and (min-width: 1001px)and(max-width: 1200px) { 

.profile_image img{
	margin-top: 11%;
}

.about_us{
	width: 70%;
}

.profile_image p {
    width: 300px;
    height: 300px;
}

#map{
	width: 450px;
	height: 450px;
}

.favs{
	margin: 0px auto;
}

.destination_list{
	font-size: 1.3em;
}

.search_container{
	margin: 150px auto;
	margin-bottom: 5%;
}


.dev_container{
	margin-top: 0;
}


}
@media screen and (min-width: 1201px)and(max-width: 1500px){

.profile_image p {
    width: 300px;
    height: 300px;
}


#map{
	width: 500px;
	height: 500px;
}

.favs{
	margin: 0px auto;
}

.about_us{
	width: 70%;
}

.search_container{
	margin: 100px auto;
	margin-bottom: 5%;
}

.searchContainer{
	margin-top: -20px;
}


.profile_image img{
	margin-top: 11%;
}

.destination_list{
	font-size: 1.3em;
}

}

@media screen and (min-width: 1501px)and(max-width: 1800px){

.profile_image img{
	margin-top: 11%;
}

.profile_image p {
    width: 300px;
    height: 300px;
}

#map{
	width: 500px;
	height: 500px;
}

.favs{
	margin: 0px auto;
}

.search_container{
	margin: 100px auto;
	margin-bottom: 5%;
}

.destination_list{
	font-size: 1.3em;
}

.about_us{
	width: 70%;
}

}

@media screen and (min-width: 1801px)and(max-width: 2000px){

.profile_image img{
	margin-top: 11%;
}

.profile_image p {
    width: 350px;
    height: 350px;
}

.favs{
	margin: 0px auto;
}

.destination_list{
	font-size: 1.3em;
}

}
/* captures projector and large screens.*/

@media screen and (min-width: 2000px){

.profile_image p {
    width: 350px;
    height: 350px;
}

.profile_image img{
	margin-top: 11%;
}

.destination_list{
	font-size: 1.3em;
}

.search_container{
	margin: 100px auto;
	margin-bottom: 5%;
}

.favs{
	margin: 0px auto;
}

}








